---
// Components
import Step from "./Step.astro";
import StepIcon from "./StepIcon.astro";

// SVG
import ClipboardIcon from "@/icons/how-to-use/ClipboardIcon.astro";
import DownloadIcon from "@/icons/how-to-use/DownloadIcon.astro";
import FilmIcon from "@/icons/how-to-use/FilmIcon.astro";

// i18n
import { getJson, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const { howToUse } = getJson(lang);
---

<div
  class="flex items-center justify-center mt-4 bg-indigo-200 text-black max-md:flex-col w-max p-3"
>
  <article>
    <ClipboardIcon />
    <Step
      stepNumber={1}
      title={howToUse.header1}
      description={howToUse.body1}
    />
  </article>

  <StepIcon />

  <article>
    <FilmIcon />
    <Step
      stepNumber={2}
      title={howToUse.header2}
      description={howToUse.body2}
    />
  </article>

  <StepIcon />

  <article>
    <DownloadIcon />
    <Step
      stepNumber={3}
      title={howToUse.header3}
      description={howToUse.body3}
    />
  </article>
</div>
